/*navgation bar css start*/
/* #nav {
  text-align: center;
  font-size: 20px;
  
  color: white;
} */
/* #head1 {
  display: inline-block;
  font-family: Brush Script MT;
  text-align:center;
  color:white;
  font-size:35px;
  text-decoration: none;
  
}
.topnav img{
  margin:30px 30px 45px;
  width:50px;
  height:50px;
}
.topnav {
  overflow: hidden;
  /* background-color: #333; 
  height: 100px;
  float: top;
}
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  padding-top: 2.5%;

} */
/* .topnav a:hover{
  /* background-color: #ddd; 
  color: black;
  cursor: pointer;
} */
.topnav{
  width:100%;
  height: 100vh;
  position:relative;
  display:flex;
  align-items:center;
  text-align:center;
  justify-items:right;
}
.nav{
  width:100%;
  position: absolute;
  top:0;
  left:0;
  padding:5px 0%;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}
#head1{
  padding-left:50px;
  font-size:35px;
  font-family: Brush Script MT;
  text-decoration: none;
}
nav div{
  display:flex;
  align-items: center;
  
}
nav .logo{
  width: 60px;
  height:60px;
}

nav ul li{
  list-style: none;
  display:inline-block;
  margin-left:40px;
}
nav ul li a{
  text-decoration:none;
  font-size:20px;
}
 div .video{
  position:absolute;
  right:0;
  left:0;
  bottom:0;
  z-index: -1;
}
@media (min-aspect-ratio:16/9){
  .video{
    width: 100%;
    height:auto;
  }
}
@media (max-aspect-ratio:16/9){
  .video{
    width: auto;
    height:100%;
  }
}
/*login button css start*/
/* #loginbutton{
  margin-top: -7.5px;
  font-family: Arial Narrow;
  float: right;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 17px;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 0px 24px 2px;
  position: relative;
  text-align: right;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}
#loginbutton:hover{
  background-color: #3c4043;
  color: white;
} */

/* .video-container {
  position: relative;
}
.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.overlay-desc {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: last baseline;
  justify-content: center;
  font-family: "Courier New";
  color: wheat;
}
* {
  box-sizing: border-box;
} */
/* /* body {
  font-family: 'Marcellus'; /*Verdana, sans-serif; 
  margin: 0;
}

img {
  vertical-align: middle;
}
/* login button css end
/*navgation bar css end
/* content start 
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 80%;
}

.image {
  flex-basis: 40%
}

.text {
  font-size: 20px;
  padding-left: 20px;
} 
content end */
