* {
  background-image: url(/images/R.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
#homebutton {
  font-size: 40px;
  font-family: Brush Script MT;
  border: none;
}
fieldset {
  border: 1px solid rgb(0, 0, 0);
  width: 400px;
  text-align: left;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}
